[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sin (xuanmingyi)
[access "refs/for/refs/*"]
	read = group user/sin (xuanmingyi)
	push = group user/sin (xuanmingyi)
	label-Code-Review = -2..+2 group user/sin (xuanmingyi)
	label-Verified = -1..+1 group user/sin (xuanmingyi)
	rebase = group user/sin (xuanmingyi)
	removeReviewer = group user/sin (xuanmingyi)
	submit = group user/sin (xuanmingyi)
[access "refs/heads/*"]
	read = group user/sin (xuanmingyi)
	create = group user/sin (xuanmingyi)
	push = +force group user/sin (xuanmingyi)
	pushMerge = group user/sin (xuanmingyi)
[access "refs/tags/*"]
	push = +force group user/sin (xuanmingyi)
	pushTag = group user/sin (xuanmingyi)
	pushSignedTag = group user/sin (xuanmingyi)
